/* ---------------------------- */
/* BLOCKQUOTES */
blockquote{
    padding: .5em .5em .5em .75em;
    color: #000;
    background-color: #EEEEEE; /*  background: #FFEBCD; color: #8B4513; */
    word-wrap: normal;
    border-left: 0.5em solid #AAA;
    border-right: 0.5em solid #AAA;
    border-radius: 6px;
}

/*
blockquote::before {
  display: block;
  height: 0;
  content: "“";
  margin-left: -.95em;
  font: italic 400%/1 Open Serif,Georgia,"Times New Roman", serif;
  color: #999;
}
*/

/* for nested paragraphs in block quotes */
blockquote p {
  display: inline;
}

/* OTHER STUFF */
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* ---------------------------- */
/* TABLE */
th {
    text-align: center;
    color: #fff;
    background-color: #888;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 8px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

/* ---------------------------- */
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
      
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
